<h6>Top</h6>
<div class = 'container-coinPanel'>
  <% coins.forEach(function(coin) { %>
    <%if (coin.price > 100) {%>
      <div>
        <form method = "get" action="/">
        <button>
    <p><%= coin.name%> </p>
    <p><%= coin.price%></p>
    </button>
    </form>
  </div>
    <%}%>
    <%})%>
</div>
<h6>Budget</h6>
<div class = 'container-coinPanel'>
  <% coins.forEach(function(coin) { %>
    <%if (coin.price > 10 && coin.price < 50) {%>
      <div>
        <form method = "get" action = '/coinSelected'>
        <button>
    <p><%= coin.name%> </p>
    <p><%= coin.price%></p>
    </button>
    </form>
  </div>
    <%}%>
    <%})%>
</div>
