<h1>Welcome</h2>
    <% if (message.length > 0) { %>
        <div><p><%= message %> </p></div>
    <% } %>
<form method = "post" action="/">
    <label for = 'email'>Email:</label>
    <input type="text" name = 'email'>
    <label for = 'password'>Password:</label>
    <input type="password" name="password">
    <button type = 'submit'>login</button>
</form>