<%= user %> 

<div class = 'selected-coin'>
    <% if (coinPicked) { %>
    <%= coinPicked.price %> 
    <div class = 'selected-coin-description'>
    <%=coinPicked.description%>
    </div>
    <input type="text">
    <button>Buy</button>
    <%}%>
</div>