<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WealthSimulator</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/coinPanel.css">
    <link rel="stylesheet" href="/stylesheets/profile.css">
  </head>
  <body>
    <%- include('./partials/coinPanel') -%>
    <%- include(`../pages/${template}`) %>
  </body>
</html>
